---
title: 404 Not Found
layout: layouts/page.njk
permalink: 404.html
---

<div class="measure-ns">
    <h1 class="lh-solid mt0">404 Not Found</h1>
    <p>
        Maybe go back, or try the <a href="/">home page</a>.
    </p>
</div>